.header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.home-button {
  background-color: #5500df;  
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px black;
  border-radius: 5px;
}

.home-button:hover {
  background-color:  #4804b6;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.total {
  margin-top: 20px;
  font-size: 18px;
}

.rnd-shdw {
  box-shadow: 0px 4px 10px black;
  border-radius: 5px;
}

body {
  background-color: lightblue;
}

button.button-style {
  background-color: #5500df;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 4px 10px black;
  border-radius: 5px;
}

button.button-style2 {
  background-color: #5500df;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 4px 10px black;
  border-radius: 5px;
  margin-top: 10px;
}

.button-style:hover {
  background-color:  #4804b6;
}

.button-style2:hover {
  background-color:  #4804b6;
}

.form-labels {
  box-shadow: 0px 4px 10px black;
  border-radius: 5px;
  background-color: #5500df;
  padding: 5px;
  margin-top: 5px;
}

.Text-style {
  font-size: 20px;
  font-family:Helvetica;
  color: black;
  font-weight: bold;
}